.container {
    padding: 32px;
    margin: auto;
    max-width: 1000px;
}

.grid {
    display: grid;
    grid-template-columns: calc(33%) calc(33%) calc(33%);
    grid-column-gap: 16px;
}

.grid > .uno {
    grid-column-start: 1;
    grid-column-end: 3;
}

img {
    width: 100%;
}

.grid-cell {
    display: inline-block;
}

p.desc {
    margin: 0;
}

.carosello span {
    padding: 10px;
    background: #dadada;
}

.carosello .left {
    float: left;
}

.carosello .right {
    float: right;
}